.App {
  display:flex;
  flex-direction:column;
  width:100vw;
  height:100vh;
}
.AppHeader{
  height:50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0,0,0.15 );
  background-color: rgb(246, 242, 242) ;

}
.AppFooter{
  height:50px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border-top:1px solid  rgba(0,0,0.15 )

}
.sideMenuandpageContent{
  display:flex;
  flex:1;
  justify-content: flex-start;
  align-items:flex-start;
}


.AppContent{
 
  height: 300vh;
  width:150vh;
  
}
.dash{
  margin-left: 5%;
}
.dash1{
  margin-left: 20%;
}
.SideMenu{
height:300vh;
background-color: rgb(246, 242, 242);
}
.menu{
  background-color: rgb(246, 242, 242);
}
.mail{
  margin-right: 100px;
  justify-content: space-between;
}
