.card-list{
   display: flex;
   flex-wrap: wrap;
   gap:30px;
  }
  .card-img{
    height: 300px;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  .card{
    text-align: center;
    width: auto;
    background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 10px 5px rgba(128, 128, 128, 0.342);
  }
  .buttons-container{
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 10px;
  }
  .butt{margin: 10px !important;}
  
 .container{
    max-width: 1200px;
    margin-left: 240px;
    padding: 16px;
}
.image-container{
  padding: 24px;
}
.verif{
width: 1250px;
  
margin-top: 5%;

 

}
.card-title {
  font-size: 16px;
  margin-bottom: 12px;
  color: #333;
}

.card-text {
  font-size: 16px;
  color: #666;
}